<div>

  <div id="header">
    <h1> Projet ‘Constitution d’un entrepôt de données’ </h1>
    <h6>Emmanuel Chebbi et Mathilde Lannes - M2 ICE</h6>
  </div>

  <div id="main">

    <div id="sidebar">
      <p>
          L’objectif de cette partie du projet est de constituer un entrepôt de données qui
          servira comme source de données pour alimenter des applications d’analyse statistiques
          et multidimensionnelles manipulant les données sur les accidents de circulation
          en France (analyse de la gravité de l’accident, des risques, des leurs caractéristiques,
          etc.).
          L’entrepôt sera alimenté à partir d’un processus d’ETL (Extract, Transform and
          Load). Vous êtes libre de choisir l’outil d’ETL à utiliser (programme Java, scripts
          Shell, outil dédié, etc.).
      </p>

      
    </div>
    
    <div id="gauges-container">
      <app-mortal></app-mortal>
      <app-wounded></app-wounded>
    </div>
    <!-- <div id="charts-area">
      <div id="visContainer" width="600" height="300"></div>
    </div> -->

  </div>

</div>

